<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hot Restaurant</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <div class="container">
    <div class="jumbotron text-center">
      <h1><i class="fa fa-fire"></i> Hot Restaurant</h1>
      <hr>
      <h2>Current Reservations and Waiting List</h2>
      <br>
      <a href="/reserve"><button class="btn btn-danger btn-lg"><span class="fa fa-credit-card"></span> Make Reservation</button></a>
      <a href="/"><button class="btn"><i class="fa fa-home fa-lg"></i></button></a>
    </div>
    <div class="row">

      <div class="col-12">

        <div class="card">
          <div class="card-header">
            <h4>Current Reservations</h4>
          </div>
          <div class="card-body">
            <ul id="tableList" class="list-group">
              
            </ul>
          </div>
        </div>

        <div class="card mt-4 mb-4">
          <div class="card-header">
            <h4>Waiting List</h4>
          </div>
          <div class="card-body">
            <ul id="waitList" class="list-group">
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    const displayData = async function() {
      
      const tables = await $.get("/api/tables");
      const waitlist = await $.get("/api/waitlist");
  

      tables.forEach((table, index) => {
        $("#tableList").append(`
          <li class="list-group-item mt-4">
            <h2>Table #${index + 1}</h2>
            <hr>
            <h3>ID: ${table.uniqueId}</h3>
            <h3>Name: ${table.name}</h3>
            <h3>Email: ${table.email}</h3>
            <h3>Phone: ${table.phoneNumber}</h3>
          </li>
        `);
      });

      waitlist.forEach((item, index) => {
        $("#waitList").append(`
          <li class="list-group-item mt-4">
            <h2>Table #${index + 1}</h2>
            <hr>
            <h3>ID: ${item.uniqueId}</h3>
            <h3>Name: ${item.name}</h3>
            <h3>Email: ${item.email}</h3>
            <h3>Phone: ${item.phoneNumber}</h3>
          </li>
        `);
      });
    };

    displayData();
  </script>
</body>

</html>
